/* Register Page */
.website-register-name {
  position: relative;
  bottom: 20px;
  left: 575px;
  font-size: 50px;
  color: white;
}
.register-input {
  position: relative;
  bottom: 50px;
  left: 450px;
  width: 400px;
  height: 35px;
  border-radius: 6px;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  color: white;
  border-color: rgba(255, 255, 255, 0.36);
  background-color: #171920;
}
.register-input:hover {
  border-color: #0074e0;
}
#loginBtn {
  text-align: center;
  height: 40px;
  color: white;
  background-color: #0074e0;
  font-size: 20px;
  cursor: pointer;
}
.redirect-text-register {
  position: relative;
  bottom: 50px;
  left: 553px;
  margin: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.36);
  cursor: default;
  z-index: 100;
}
#registerBtn {
  text-align: center;
  height: 40px;
  color: white;
  background-color: #0074e0;
  font-size: 20px;
  cursor: pointer;
}
